body {
    margin: 0;
    background: #D8EEFE;
}

.birthday {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 20px;
}

.birthday {
    padding-bottom: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #ffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-bottom: 1rem;
    border-radius: 12px;
    max-width: 900px;
    width: 100%;
    margin-right: 2rem;
}

@media(min-width:1110px) {
    .container {
        margin-left: 20px;
    }
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.submit {
    background-color: #EF4565;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-radius: 1rem;
}

h1 {
    font-size: 27px;
    color: #594a4e;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* 
.filters {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
} */

input {
    padding: 0.5rem;
    border: 1px solid #faeee7;
    border-radius: 5px;
}

select {
    width: 50%;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    border: 1px solid #faeee7;
    color: #594a4e;
}


/* 
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: indianred;
    padding: 2rem;
} */

td {
    padding-left: 3rem;
    padding-top: 1rem;
    column-gap: 1rem;
}

img {
    max-width: 100%;
    border-radius: 50%;
}

.imageUrl {
    max-width: 100%;
    border-radius: 50%;
}

label {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 400;
}

.popup {
    display: grid;
    place-items: center center;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    background-color: rgb(207, 238, 250);
    width: 400px;
    border-radius: 12px;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 40px;
}

.firstname,
.lastname {
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.birthday {
    margin-top: 0.25rem;
}

.add {
    margin-left: 2px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 2px;
    color: white;
    background-color: #EF4565;
    font-weight: 700;
    cursor: pointer;
}

button {
    border: none;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup.open {
    position: absolute;
    opacity: 1;
    pointer-events: all;
}

.outer-modal {
    display: grid;
    place-items: center center;
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.outer-modal.open {
    opacity: 1;
    pointer-events: all;
}

.inner-modal {
    position: absolute;
    top: 0;
    left: 24%;
    background-color: #D8EEFE;
    min-height: max-content;
    min-width: 300px;
    padding: 20px;
    margin-top: 20px;
}

.form-control {
    padding: 10px;
    width: 250px;
    border-radius: 2px;
    border: 1px solid lightgray;
    font-size: 16px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.btn {
    display: block;
    margin-left: 2px;
    margin-top: 10px;
    padding: 10px;
    width: 100px;
    border-radius: 2px;
    border: 1px solid lightgray;
    text-transform: uppercase;
    font-weight: 700;
}

.outer-confirm-modal {
    display: grid;
    place-items: center center;
    background-color: hsla(0, 0%, 0%, 0.7);
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80vw;
}

.outer-confirm-modal.confirm {
    opacity: 1;
    pointer-events: all;
}

.inner-confirm-modal {
    background-color: white;
    min-height: 200px;
    min-width: 200px;
    padding: 20px;
}

.delete-btn,
.edit-btn {
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    width: 48px;
    height: 48px;
}

.add-btn {
    color: white;
    /* padding-left: 0.27rem;
	padding-top: 0.25rem;
	padding-right: 0.27rem;
	padding-bottom: 0.25rem; */
    background: #8c7851;
    ;
    border: none;
    border-radius: 10px;
    margin-right: 5rem;
}

.confirm-btn,
.cancel-btn {
    color: white;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    background: rgb(77, 184, 169);
    border: none;
    border-radius: 10px;
    margin-right: 1rem;
}

.cake-image svg {
    position: absolute;
    top: 3%;
    left: 61%;
    width: 48px;
    height: 48px;
}