body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  background-color: #d8eefe;
}

button,
input {
  outline: none;
}

select {
  -webkit-appearance: none;
}

select {
  background-image: url('./images/arrow-icon.svg');
  background-repeat: no-repeat;
  background-position: 88% 50%;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

b {
  color: #ef4565;
}

button {
  border: none;
}

td {
  padding-left: 3rem;
  padding-top: 1rem;
  column-gap: 1rem;
}

button {
  cursor: pointer;
}

select {
  width: 50%;
  border-radius: 5px;
  border: 1px solid #faeee7;
  color: #594a4e;
}

img {
  border-radius: 5px;
  max-width: 30%;
  height: auto;
  margin-bottom: 13px;
}

fieldset {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
}

.form-search {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}

.container {
  background: white;
  padding-top: 23px;
  padding-bottom: 23px;
  margin-left: 14px;
  margin-right: 14px;
  padding-left: 21px;
  border-radius: 5px;
}

.add {
  background-color: #ef4565;
  font-size: 18px;
  line-height: 21px;
  margin-top: 34px;
  color: white;
  padding-top: 12px;
  padding-left: 15px;
  padding-bottom: 10px;
  border-radius: 8px;
  padding-right: 12px;
}

.submit-new-birthday {
  background-color: #ef4565;
  color: white;
  padding-top: 18px;
  padding-left: 35px;
  padding-bottom: 19px;
  padding-right: 40px;
  border-radius: 5px;
  font-size: 16px;
  text-transform: capitalize;
  margin-top: 30px;
}

.subheading {
  font-size: 48px;
  color: #094067;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 14px;
}

.add-new-birthday {
  font-size: 32px;
  color: #094067;
}

.search {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.search label {
  color: #094067;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.search-by-month label {
  color: #094067;
  /* padding-bottom: 13px; */
  font-size: 18px;
  font-weight: 500;
}

.search-by-name {
  font-size: 16px;
  font-weight: 500;
  /* padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 14px;
  padding-right: 41px; */
  border: 1px solid #faeee7;
  color: #5f6c7b;
  font-style: normal;
  font-weight: 500;
  border-radius: 5px;
}

.select-by-month {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  /* padding-top: 15px;
  padding-left: 12px;
  padding-bottom: 14px;
  padding-right: 162px; */
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #5f6c7b;
  margin-top: 12px;
  background-color: white;
}

.submit-and-edit,
.delete-birthday,
.add-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup {
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  height: 100vh;
  width: 100vw;
  transition: all 0.25s;
  top: 0;
  display: grid;
  justify-content: stretch;
  align-items: center;
  pointer-events: none;
  --opacity: 0;
  opacity: var(--opacity);
  padding: 1rem;
}

.popup label {
  padding-top: 12px;
  padding-bottom: 8px;
  color: #094067;
}

.popup input {
  border-radius: 5px;
}

.name {
  display: flex;
  flex-direction: row;
  font-size: 36px;
  color: #000000;
  gap: 12px;
}

.popup input {
  color: #094067;
  font-size: 16px;
  background-color: #d8eefe;
  padding-top: 12px;
  padding-left: 15px;
  padding-bottom: 12px;
  padding-right: 40px;
  border: none;
}

.birthday {
  margin-top: 0.25rem;
}

#birthday {
  padding-right: 110px;
}

.popup.open {
  width: 96%;
  position: fixed;
  top: 2rem;
  opacity: 1;
  pointer-events: all;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.outer-modal {
  display: grid;
  place-items: center center;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.outer-modal.open {
  opacity: 1;
  pointer-events: all;
}

.inner-modal {
  position: absolute;
  top: 0;
  left: 24%;
  background-color: #d8eefe;
  min-height: max-content;
  min-width: 300px;
  padding: 20px;
  margin-top: 20px;
}

.form-control {
  padding: 10px;
  width: 250px;
  border-radius: 2px;
  border: 1px solid lightgray;
  font-size: 16px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.remove-edit-popup {
  margin-left: 279px;
  font-size: 28px;
  color: #094067;
  font-size: 41px;
  background: none;
}

.remove-delete-popup {
  margin-left: 296px;
  font-size: 39px;
  color: #094067;
  background: none;
}

.remove-add-popup {
  margin-left: 285px;
  font-size: 36px;
  color: #094067;
  font-size: 41px;
  background: none;
}

.outer-confirm-modal {
  background-color: hsla(0, 0%, 0%, 0.7);
  width: 80vw;
  height: 100vh;
  display: grid;
  place-items: center center;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
}

.outer-confirm-modal.confirm {
  opacity: 1;
  pointer-events: all;
}

.inner-confirm-modal {
  background-color: white;
  min-height: 200px;
  min-width: 200px;
  padding: 20px;
}

.cancel-add {
  padding-top: 15px;
  padding-left: 33px;
  padding-bottom: 17px;
  padding-right: 34px;
  border: 3px solid #5f6c7b;
  border-radius: 5px;
  background-color: #ffff;
  font-size: 16px;
  color: #5f6c7b;
  margin-top: 30px;
  margin-left: 19px;
}

.cancel-edit {
  padding-top: 13px;
  padding-left: 40px;
  padding-bottom: 13px;
  padding-right: 40px;
  border: 3px solid #5f6c7b;
  border-radius: 5px;
  background-color: #ffff;
  font-size: 16px;
  color: #5f6c7b;
  margin-top: 50px;
  margin-left: 28px;
}

.cancel-delete {
  padding: 13px 40px;
  border: 3px solid rgb(95, 108, 123);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  color: rgb(95, 108, 123);
  margin-left: -88px;
}
.delete_edit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 40px;
}

.submit-edit {
  background-color: #ef4565;
  color: white;
  padding-top: 14px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-size: 16px;
  text-transform: capitalize;
  margin-top: 50px;
}

.delete {
  padding-top: 14px;
  padding-left: 48px;
  padding-bottom: 15px;
  padding-right: 54px;
  border-radius: 5px;
  background-color: #ef4565;
  font-size: 16px;
  color: white;
  margin-right: 100px;
}

.delete-birthday {
  display: flex;
  flex-direction: row;
}

.days {
  padding-bottom: 15px;
  padding-top: 12px;
  font-size: 22px;
}

.name {
  display: flex;
  flex-direction: row;
  font-size: 22px;
  color: #000000;
}

#date {
  font-size: 22px;
  color: #5f6c7b;
}

.first-and-last-name {
  font-size: 24px;
  color: #094067;
}

.age {
  font-size: 24px;
  color: #ef4565;
  font-weight: 500;
}

.ri-delete-back-2-line {
  color: #ef4565;
  font-size: 30px;
  cursor: pointer;
}

.ri-edit-box-line {
  font-size: 30px;
  padding-right: 19px;
  color: #094067;
  cursor: pointer;
}

@media (max-width: 999px) {
  .remove-add-popup,
  .remove-edit-popup {
    background: none;
    position: absolute;
    right: 3%;
    font-size: 36px;
    color: #094067;
    font-size: 41px;
  }
  .remove-delete-popup {
    position: absolute;
    right: 4%;
  }
  fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .popup label {
    padding-right: 203px;
  }
  #editbirthday {
    padding-left: 18px;
    padding-right: 119px;
  }
  .first-and-last-name {
    font-size: 32px;
  }
}

/* @media (min-width: 400px) {
  .remove-delete-popup {
    right: 5%;
    position: absolute;
  }
} */

@media (min-width: 1000px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    max-height: 106px;
    width: 757px;
    margin-bottom: 31px;
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 15px;
    padding-top: 17px;
  }
  .subheading {
    font-size: 64px;
    padding-top: 63px;
    padding-bottom: 50px;
    margin: 0;
  }
  .birthday {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-profile {
    max-width: 92px;
    height: 94px;
    padding-bottom: 0;
    padding-top: 0;
    margin-left: 20px;
    margin-bottom: 0;
    border-radius: 5px;
  }
  .first-and-last-name {
    font-size: 48px;
    margin: 0;
  }
  .name {
    font-size: 36px;
    font-weight: 500;
    line-height: 43px;
    padding-left: 2px;
  }
  .button-and-days {
    display: flex;
    flex-direction: column;
    padding-right: 22px;
  }
  .delete_edit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 13px;
    padding-right: 0;
  }
  .search {
    padding-left: 22px;
    margin-bottom: 0;
  }
  /* .search label {
    padding-bottom: 13px;
  } */
  .form-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  .select-by-month {
    margin: 0;
    padding-right: 34px;
    margin-top: 12px;
    background-color: white;
  }
  .add {
    background-color: #ef4565;
    font-size: 18px;
    line-height: 21px;
    margin-top: 34px;
    color: white;
    padding-top: 12px;
    padding-left: 15px;
    padding-bottom: 10px;
    border-radius: 8px;
    padding-right: 12px;
  }
  .days {
    color: #5f6c7b;
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 32px;
  }
  fieldset input {
    background-color: #d8eefe;
    color: #094067;
    font-size: 18px;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 14px;
    padding-right: 156px;
    border: none;
  }
  fieldset label {
    font-size: 18px;
    padding-bottom: 8px;
    padding-top: 18px;
  }
  .cancel-delete {
    background-color: #ffff;
    border: 3px solid #5f6c7b;
    color: #5f6c7b;
    font-size: 18px;
    padding-top: 13px;
    padding-left: 40px;
    padding-bottom: 13px;
    padding-right: 40px;
    margin-left: -74px;
    border-radius: 5px;
  }
  .search-by-name {
    padding-right: 40px;
    margin-left: -15px;
  }
  .select-by-month {
    padding-right: 140px;
    margin-right: -11px;
  }
  .select-by-month,
  .search-by-name {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 19px;
    padding-bottom: 11px;
  }
  /* .search-by-month label {
    margin-left: 21px;
  } */
  .edit-first-name {
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 14px;
    padding-right: 156px;
  }
  .edit-last-name {
    padding-top: 14px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-right: 185px;
  }
  .edit-birthday {
    padding-left: 25px;
    padding-right: 100px;
  }
  .submit-edit {
    font-size: 18px;
    line-height: 23.33px;
    padding-top: 14px;
    padding-left: 19px;
    padding-bottom: 15px;
    padding-right: 20px;
    margin-right: 0;
  }

  .cancel-edit {
    padding-top: 13px;
    padding-left: 52px;
    padding-bottom: 13px;
    padding-right: 52px;
    border: 3px solid #5f6c7b;
    border-radius: 5px;
    background-color: #ffff;
    font-size: 16px;
    color: #5f6c7b;
    margin-top: 49px;
    margin-left: 19px;
  }
  .popup.open {
    display: flex;
    flex-direction: column;
  }

  .remove-edit-popup {
    font-size: 48px;
    font-weight: 100;
    height: 20%;
    position: absolute;
    right: 15%;
    top: 6%;
  }
  .remove-add-popup {
    font-size: 48px;
    position: absolute;
    right: 14%;
    top: 5%;
  }
  .remove-delete-popup {
    font-size: 45px;
    position: absolute;
    right: 15%;
    top: 12%;
  }
  .ri-delete-back-2-line {
    color: #ef4565;
    font-size: 30px;
    cursor: pointer;
  }
  .popup label {
    padding-top: 20px;
  }
  .add-new-birthday {
    font-size: 48px;
    color: #094067;
    margin: 0;
    padding-bottom: 12px;
  }
  .submit {
    margin-top: 30px;
  }

  .container-name {
    position: absolute;
    left: 33.75%;
  }
  #birthday {
    padding-right: 100px;
  }
  #editbirthday {
    padding-right: 100px;
  }
  .submit-and-edit,
  .delete-birthday,
  .add-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .popup.open fieldset,
  .edit-popup {
    padding-bottom: 80px;
    padding-left: 238px;
    padding-right: 225px;
    padding-top: 121px;
  }
  .popup.open fieldset,
  .add-popup {
    padding-bottom: 80px;
    padding-left: 260px;
    padding-right: 298px;
    padding-top: 110px;
  }
  .popup.open fieldset,
  .delete-popup {
    margin-top: 53px;
  }
  .header {
    max-width: 779px;
    margin-left: auto;
    margin-right: auto;
  }
}
