body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    background: #D8EEFE;
}

button, input {
    outline: none;
}

select {
	-webkit-appearance: none;
}

select {
    background-image: url("./images/arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: 88% 50%;  
}


.form-search {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 14px;
}

img {
    border-radius: 5px;
    max-width: 30%;
    height: auto;
    margin-bottom: 13px;
}

.container {
    background: white;
    padding-top: 23px;
    padding-bottom: 23px;
    margin-left: 14px;
    margin-right: 14px;
    padding-left: 21px;
    border-radius: 12px;
}

.search {
    display: flex;
    flex-direction: column;
    margin-right: 14px;
    margin-bottom: 14px;
}


.search label {
    color: #094067;
    padding-bottom: 13px;
    font-size: 18px;
    font-weight: 500;
}


.month-filter label {
  color: #094067;
  padding-bottom: 13px;    
  font-size: 18px;
  font-weight: 500;
}

.subheading {
    font-size: 32px;
    color: #094067;
}

.add {
    padding-top: 15px;
    padding-left: 19px;
    padding-bottom: 14px;
    padding-right: 17px;
    border-radius: 8px;
    color: white;
    background-color: #EF4565;
    font-size: 19px;
    
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

b {
    color: #EF4565; 
}

.submit{
    background-color: #EF4565;
    color: white;
    padding-top: 18px;
    padding-left: 54px;
    padding-bottom: 19px;
    padding-right: 51px;
    border-radius: 5px;
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 22px;
    
}

.subheading {
    font-size: 36px;
    color: #594a4e;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 14px;
}

.searchName {
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 14px;
    padding-right: 41px;
    border: 1px solid #faeee7;
    border-radius: 5px;
    font-size: 18px;
    color: #5F6C7B;
    
}

.filterMonth {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
    padding-top: 15px;
    padding-left: 12px;
    padding-bottom: 14px;
    padding-right: 126px;
    width: 100%;
    font-size: 18px;
    color: #5F6C7B;
    margin-top: 12px;
}

select {
    width: 50%;
    border-radius: 5px;
    border: 1px solid #faeee7;
    color: #594a4e;
}

td {
    padding-left: 3rem;
    padding-top: 1rem;
    column-gap: 1rem;
}

button {
    cursor: pointer;
}

.profil_pic {
    max-width: 50%;
}

.imageUrl {
    max-width: 50%;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    background-color: #ffff;
    position: absolute;
    top: 10%;
    left: 0%;
    padding-top: 33px;
    padding-bottom: 35px;
    padding-left: 24px;
    padding-right: 75px;
    padding-left: -21px;
    padding-right: -54px;
}

.popup label {
    padding-top: 12px;
}

.name {
    display: flex;
    flex-direction: row;
    font-size: 36px;
    color: #000000;
    gap: 12px;
}

.popup input {
    color: #094067;
    font-size: 18px;
    background-color: #D8EEFE;
    padding-top: 12px;
    padding-left: 15px;
    padding-bottom: 12px;
    padding-right: 40px;
    border: none;
    
}


.birthday {
    margin-top: 0.25rem;
}


button {
    border: none;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    width: 40vw;
}

.popup.open {
    position: fixed;
    top: 2rem;
    opacity: 1;
    pointer-events: all;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outer-modal {
    display: grid;
    place-items: center center;
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.outer-modal.open {
    opacity: 1;
    pointer-events: all;
}

.inner-modal {
    position: absolute;
    top: 0;
    left: 24%;
    background-color: #D8EEFE;
    min-height: max-content;
    min-width: 300px;
    padding: 20px;
    margin-top: 20px;
}


.form-control {
    padding: 10px;
    width: 250px;
    border-radius: 2px;
    border: 1px solid lightgray;
    font-size: 16px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.btn {
    display: block;
    margin-left: 2px;
    margin-top: 10px;
    padding: 10px;
    width: 100px;
    border-radius: 2px;
    border: 1px solid lightgray;
    text-transform: uppercase;
    font-weight: 700;
}

.removeEditPopup {
    position: absolute;
    top: 11%;
    left: 70%;
    font-size: 39px;
    color: #094067;
    background: none;  
}

.removeDeletePopup {
    position: absolute;
    top: 11%;
    left: 70%;
    font-size: 39px;
    color: #094067;
    background: none;  
}

.removeAddPopup {  
    position: absolute;
    top: 5%;
    left: 75%;
    font-size: 28px;
    color: #094067;
    background: none;

}

.outer-confirm-modal {
    display: grid;
    place-items: center center;
    background-color: hsla(0, 0%, 0%, 0.7);
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80vw;
}

.outer-confirm-modal.confirm {
    opacity: 1;
    pointer-events: all;
}

.inner-confirm-modal {
    background-color: white;
    min-height: 200px;
    min-width: 200px;
    padding: 20px;
}

.delete-btn,
.edit-btn {
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    width: 48px;
    height: 48px;
}

.cancel {
    padding-top: 15px;
    padding-left: 48px;
    padding-bottom: 17px;
    padding-right: 54px;
    border: 3px solid #5F6C7B;
    border-radius: 5px;
    background-color: #ffff;
    font-size: 18px;
    color: #5F6C7B;
    margin-top: 30px;
    top: 75%;
    left: 53%;
    position: absolute;
};



.confirm-btn,
.cancel-btn {
    color: white;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    background: rgb(77, 184, 169);
    border: none;
    border-radius: 10px;
    margin-right: 1rem;
}

.cake-image svg {
    position: absolute;
    top: 3%;
    left: 61%;
    width: 48px;
    height: 48px;
}

.cancel-edit {
    padding-top: 13px;
    padding-left: 40px;
    padding-bottom: 13px;
    padding-right: 40px;
    border: 3px solid #5F6C7B;
    border-radius: 5px;
    background-color: #ffff;
    font-size: 18px;
    color: #5F6C7B;
    position: absolute;
    top: 77.5%;
    left: 50%;
    margin-top: 11px;
}

.delete_edit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 40px;
}

.days {
    padding-bottom: 15px;
    padding-top: 12px;
    font-size: 22px;
}

.submit-edit {
    background-color: #EF4565;
    color: white;
    padding-top: 14px;
    padding-left: 21px;
    padding-bottom: 15px;
    padding-right: 16px;
    border-radius: 5px;
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 49px;
}

.delete {
    padding-top: 14px;
    padding-left: 48px;
    padding-bottom: 15px;
    padding-right: 54px;
    border-radius: 5px;
    background-color: #EF4565;
    font-size: 18px;
    color: white;
    margin-right: 100px;
}


.cancel-delete {
    padding: 13px 40px;
    border: 3px solid rgb(95, 108, 123);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    color: rgb(95, 108, 123);
    position: absolute;
    top: 59%;
    left: 55%;
}

.name {
    display: flex;
    flex-direction: row;
    font-size: 22px;
    color:  #000000;
}

#date {
    font-size: 22px;
    color: #5F6C7B;
    padding-left: 4px;
}

.searchName {
    margin-right: 35px;
    padding-top: 14px;
    padding-left: 24px;
    padding-bottom: 14px;
    padding-right: 20px;
}

.age {
    font-size: 24px;
    color: #EF4565;
    font-weight: 500;
} 

.ri-delete-back-2-line {
    color: #EF4565;
    font-size: 30px;
    cursor: pointer;
}

.ri-edit-box-line {
    font-size: 30px;
    padding-right: 19px;
    color: #094067;
    cursor: pointer;
}

.popup input {
    border-radius: 5px;
}


@media(min-width: 1000px) {
    .subheading {
        padding-left: 22%;
        font-size: 64px;
        margin: 0;
        padding-top: 63px;
        padding-bottom: 50px;
    }
    .birthday {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #ffff;
        max-height: 106px;
        width: 757px;
        margin-bottom: 31px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 15px;
        padding-top: 17px;    
}
    img {
        border-radius: 5px;
        padding-bottom: 0;
        padding-top: 0;
        max-width: 92px;
        height: 94px;
        margin-left: 21px;
        margin-bottom: 0;
    }
    .firstandlastname {
        color: #094067;
        font-size: 48px;
        margin: 0;
    }
    .name {
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        padding-left: 2px;
    }
    .buttonanddays {
        display: flex;
        flex-direction: column;
        /* padding-right: 40px; */
        padding-right: 22px;
    }
    .delete_edit {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 13px;
        /* margin-left: 43px; */
        padding-right: 0;
        /* margin-right: -4px; */
        }
    .search {
        margin-bottom: 0;
    }
    .form-search {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding-left: 0;
    }
    .filterMonth {
        margin: 0;
        padding-right: 34px;
        margin-top: 12px;
    }
    .add {
        margin-top: 67px;
        margin-left: 33px;
        margin-bottom: 31px;
    }
    .days {
        color: #5F6C7B;
        font-size: 24px;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 32px;    
    } 
    fieldset {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: none;
        color: #094067;
        padding-left: 0;
    }
    fieldset input {
        color: #094067;
        font-size: 18px;
        background-color: #D8EEFE;
        padding-top: 15px;
        padding-left: 20px;
        padding-bottom: 14px;
        padding-right: 156px;
        border: none;
        
    }
    fieldset label {
        font-size: 18px;
        padding-bottom: 8px;
        padding-top: 18px;
    }
    .popup {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        background-color: #ffff;
        position: absolute;
        left: 22%;
        padding-top: 55px;
        padding-bottom: 80px;
        width: 60vw;
    }
    .cancel-delete {
        padding-top: 13px;
        padding-left: 40px;
        padding-bottom: 13px;
        padding-right: 40px;
        border: 3px solid #5F6C7B;
        border-radius: 5px;
        background-color: #ffff;
        font-size: 18px;
        color: #5F6C7B;
        position: absolute;
        top: 47.5%;
        left: 35%;
    }
    .searchName {
        margin-right: 18px;
        padding-top: 15px;
        padding-left: 23px;
        padding-bottom: 14px;
        padding-right: 20px;
    }
    .filterMonth {
        padding-top: 15px;
        padding-left: 30px;
        padding-bottom: 14px;
        padding-right: 130px;
    }
    .editfirstname {
        padding-top: 15px;
        padding-left: 20px;
        padding-bottom: 14px;
        padding-right: 156px;
    }
    .editlastname {
        padding-top: 14px;
        padding-left: 20px;
        padding-bottom: 15px;
        padding-right: 185px;
    }
    .editbirthday {
        padding-left: 25px;
        padding-right: 90px;
    }
    .submit-edit {
        padding-top: 14px;
        padding-left: 21px;
        padding-bottom: 15px;
        padding-right: 23px; 
        font-size: 18px;
        line-height: 23.33px;
        margin-right: 0;
    }

    .cancel-edit {
        position: absolute;
        top: 76%;
        left: 37%;
        padding-top: 14px;
        padding-left: 48px;
        padding-bottom: 15px;
        padding-right: 55px;
        line-height: 21.33px;
        margin-top: 0;
    }
    .search {
        margin-right: 15px;
    }
    .container-name {
        position: absolute;
        left: 33.75%;
    }
    .removeEditPopup {
        position: absolute;
        top: 0%;
        left: 80%;
        color: #094067;
        background: none;
        
        height: 20%;
        font-weight: lighter;
    }
    .ri-delete-back-2-line {
        color: #EF4565;
        font-size: 30px;
        cursor: pointer;
    }
    .popup label {
    padding-top: 20px;
   }
   .addNewPerson {
       color: #094067;
       font-size: 34px;
       margin: 0;
       padding-bottom: 12px;
   }
   .submit {
       margin-top: 30px;
   }
   
    .removeAddPopup {  
        top: 5%;
        left: 85%;
        font-size: 45px;
        color: #094067;
        background: none;

    }
    .cancel {
        margin-left: 35px;
        top: 73.75%;
        left: 33%;
        position: absolute;
    }
    #birthday {
        padding-right: 100px;
    }
    #editbirthday {
        padding-right: 100px;
    }
}