td {
    padding-left: 5rem;
    padding-top: 2rem;
    column-gap: 2rem;
}

img {
    max-width: 100%;
    border-radius: 50%;
}

label {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
	font-weight: 400;
}


.popup {
	display: grid;
	place-items: center center;
	pointer-events: none;
	opacity: 0; 			
	top: 0;
	left: 0; 
}

.popup.open {
	opacity: 1;
	pointer-events: all;
}

 .outer-modal {
	display: grid;
	place-items: center center;
	pointer-events: none;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
    width: 100vw;
}

.outer-modal.open {
	opacity: 1;
	pointer-events: all;
} 



.inner-modal {
	position: absolute;		
	top: 0;
	left: 60%;
	background-color: rgb(48, 114, 168);
	min-height: max-content;
	min-width: 300px;
	padding: 20px;
	margin-top: 20px;
}


.form-control {
	padding: 10px;
	width: 250px;
	border-radius: 2px;
	border: 1px solid lightgray;
    font-size: 16px;
    margin-bottom: 2rem;
	margin-top: 1rem;
}

.btn {
	display: block;
    margin-left: 2px;
    margin-top: 10px;
    padding: 10px;
	width: 100px;
	border-radius: 2px;
    border: 1px solid lightgray;
    text-transform: uppercase;
    font-weight: 700;
}


.outer-confirm {
	display: grid;
	place-items: center center;
	background-color: hsla(0, 0%, 0%, 0.7);
	pointer-events: none;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 80vw;
}

.outer-confirm-modal.confirm {
	opacity: 1;
	pointer-events: all;
}

.inner-confirm-modal {
	background-color: white;
	min-height: 400px;
	min-width: 400px;
	padding: 20px;
}
