body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    background: #D8EEFE;
}

/* .birthday {
    margin: 0;
    font-size: 16px;
    width: 100%;
    padding: 20px;
} */

.form-search {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 14px;
}

.container {
    background: white;
    padding-top: 23px;
    padding-bottom: 23px;
    margin-left: 14px;
    margin-right: 14px;
}

.search {
    display: flex;
    flex-direction: column;
    margin-right: 14px;
    margin-bottom: 14px;
}

.search label {
    color: #094067;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}


.month_filter label {
  color: #094067;
  padding-bottom: 10px;    
  font-size: 18px;
  font-weight: 500;
}

.subheading {
    font-size: 32px;
    color: #094067;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

b {
    color: #EF4565; 
}

.submit {
    background-color: #EF4565;
    color: white;
    padding-top: 14px;
    padding-left: 21px;
    padding-bottom: 15px;
    padding-right: 16px;
    border-radius: 5px;
    font-size: 18px;
    text-transform: capitalize;
}

h1 {
    font-size: 27px;
    color: #594a4e;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchName {
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 14px;
    padding-right: 41px;
    border: 1px solid #faeee7;
    border-radius: 5px;
    font-size: 18px;
    color: #5F6C7B;
    outline: none;
}

.filterMonth {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
    padding-top: 20px;
    padding-left: 12px;
    padding-bottom: 14px;
    padding-right: 50px;
    width: 100%;
    font-size: 18px;
    color: #5F6C7B;
}

select {
    width: 50%;
    border-radius: 5px;
    border: 1px solid #faeee7;
    color: #594a4e;
}

td {
    padding-left: 3rem;
    padding-top: 1rem;
    column-gap: 1rem;
}

button {
    cursor: pointer;
}

.profil_pic {
    max-width: 50%;
}

.imageUrl {
    max-width: 50%;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    background-color: #ffff;
    position: absolute;
    top: 10%;
    left: 0%;
    padding-top: 33px;
    padding-bottom: 35px;
    padding-left: 24px;
    padding-right: 90px;
    padding-left: -21px;
    padding-right: -54px;
}

.popup label {
    padding-top: 12px;
}

.name {
    display: flex;
    flex-direction: row;
    font-size: 36px;
    color: #000000;
    gap: 12px;
}

.popup input {
    color: #094067;
    font-size: 18px;
    background-color: #D8EEFE;
    padding-top: 12px;
    padding-left: 15px;
    padding-bottom: 12px;
    padding-right: 123px;
    border: none;
    outline: none;
}


.firstname,
.lastname {
    margin-top: 1.5rem;
    /* margin-left: 1rem; */
}

.birthday {
    margin-top: 0.25rem;
}


button {
    border: none;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
}

.popup.open {
    position: absolute;
    opacity: 1;
    pointer-events: all;
}

.outer-modal {
    display: grid;
    place-items: center center;
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.outer-modal.open {
    opacity: 1;
    pointer-events: all;
}

.inner-modal {
    position: absolute;
    top: 0;
    left: 24%;
    background-color: #D8EEFE;
    min-height: max-content;
    min-width: 300px;
    padding: 20px;
    margin-top: 20px;
}

.form-control {
    padding: 10px;
    width: 250px;
    border-radius: 2px;
    border: 1px solid lightgray;
    font-size: 16px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.btn {
    display: block;
    margin-left: 2px;
    margin-top: 10px;
    padding: 10px;
    width: 100px;
    border-radius: 2px;
    border: 1px solid lightgray;
    text-transform: uppercase;
    font-weight: 700;
}

.outer-confirm-modal {
    display: grid;
    place-items: center center;
    background-color: hsla(0, 0%, 0%, 0.7);
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80vw;
}

.outer-confirm-modal.confirm {
    opacity: 1;
    pointer-events: all;
}

.inner-confirm-modal {
    background-color: white;
    min-height: 200px;
    min-width: 200px;
    padding: 20px;
}

.delete-btn,
.edit-btn {
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    width: 48px;
    height: 48px;
}

.cancel {
    padding-top: 15px;
    padding-left: 48px;
    padding-bottom: 15px;
    padding-right: 54px;
    border: 3px solid #5F6C7B;
    border-radius: 5px;
    background-color: #ffff;
    font-size: 18px;
    color: #5F6C7B;
    margin-top: 12px;
}

.add {
    padding-top: 15px;
    padding-left: 18px;
    padding-bottom: 14px;
    padding-right: 19px;
    border-radius: 2px;
    color: white;
    background-color: #EF4565;
    font-size: 18px;
    outline: none;
}

.confirm-btn,
.cancel-btn {
    color: white;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    background: rgb(77, 184, 169);
    border: none;
    border-radius: 10px;
    margin-right: 1rem;
}

.cake-image svg {
    position: absolute;
    top: 3%;
    left: 61%;
    width: 48px;
    height: 48px;
}

.container-name {
    display: flex;
    flex-direction: column;
}

.cancel-edit {
    padding-top: 13px;
    padding-left: 40px;
    padding-bottom: 13px;
    padding-right: 40px;
    border: 3px solid #5F6C7B;
    border-radius: 5px;
    background-color: #ffff;
    font-size: 18px;
    color: #5F6C7B;
    position: absolute;
    top: 77%;
    left: 46%;
    margin-top: 11px;
}

.delete_edit {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.days {
    padding-bottom: 15px;
    padding-top: 12px;
    font-size: 24px;
}

.submit-edit {
    background-color: #EF4565;
    color: white;
    padding-top: 14px;
    padding-left: 21px;
    padding-bottom: 15px;
    padding-right: 16px;
    border-radius: 5px;
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 49px;
    margin-right: 170px;
}

.delete {
    padding-top: 14px;
    padding-left: 48px;
    padding-bottom: 15px;
    padding-right: 54px;
    border-radius: 5px;
    background-color: #EF4565;
    font-size: 18px;
    color: white;
    margin-right: 100px;
}
/* 
.popup.open {
    position: absolute;
    top: 20%;
    left: 30%;
    padding-left: 20px; 
    padding-right: 20px;
} */

.cancel-delete {
    padding-top: 13px;
    padding-left: 40px;
    padding-bottom: 13px;
    padding-right: 40px;
    border: 3px solid #5F6C7B;
    border-radius: 5px;
    background-color: #ffff;
    font-size: 18px;
    color: #5F6C7B;
    position: absolute;
    top: 48%;
    left: 52%;
}

.name {
    display: flex;
    flex-direction: row;
    font-size: 36px;
    color:  #000000;
}

#date {
    padding-left: 1px;
    font-size: 24px;
    color: #5F6C7B;
}

.age {
    font-size: 24px;
    color: #EF4565;
    font-weight: 500;
} 

.ri-delete-back-2-line {
    color: #EF4565;
    padding-right: 19px;
    font-size: 30px;
    cursor: pointer;
}

.ri-edit-box-line {
    font-size: 30px;
    padding-right: 19px;
    color: #094067;
    cursor: pointer;
}


@media(min-width: 1000px) {
    .subheading {
        font-size: 64px;
    }
    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 335px;
    }
    .birthday {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 330px;
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 22px;
        padding-left: 62px;
        padding-bottom: 23px;
        padding-right: 143px;
        background-color: #ffff;
        max-width: 79%;
    }
    .form-search {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding-left: 0;
        padding-right: 34px;
    }
    .filterMonth {
        margin: 0;
        padding-right: 34px;
    }
    .add {
        margin: 34px;
        margin-top: 53px;
    }
    .days {
        color: #5F6C7B;
        font-size: 24px;
        padding-left: 160px;
        padding-right: -7px;
        padding-top: 22px;
    }
    .delete_edit {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 86px;
        margin-left: -70px;
        padding-right: 25px;
    }
    .container-name {
        padding-left: 39px;
    }
    /* .popup {
      position: absolute;
      top: 20%;
      left: 22%;
      padding-left: 60px;
      padding-right: 188px;
   } */
   .firstandlastname {
       color: #094067;
       font-size: 48px;
}
fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    color: #094067;
    padding-left: 0;
}
fieldset input {
    color: #094067;
    font-size: 18px;
    background-color: #D8EEFE;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 14px;
    padding-right: 156px;
    border: none;
    outline: none;
}
fieldset label {
    font-size: 18px;
    padding-bottom: 8px;
    padding-top: 18px;
}
.popup {
    display: grid;
    place-items: center center;
    pointer-events: none;
    opacity: 0;
    background-color: #ffff;
    /* width: 50%; */
    position: absolute;
    top: 20%;
    left: 35%;
    padding-top: 33px;
    padding-bottom: 35px;
    padding-left: 90px;
    padding-right: 90px;
    padding-left: -21px;
    padding-right: -54px;
}
.cancel-delete {
    padding-top: 13px;
    padding-left: 40px;
    padding-bottom: 13px;
    padding-right: 40px;
    border: 3px solid #5F6C7B;
    border-radius: 5px;
    background-color: #ffff;
    font-size: 18px;
    color: #5F6C7B;
    position: absolute;
    top: 48%;
    left: 60%;
}
.searchName {
    margin-right: 35px;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 14px;
    padding-right: 141px;
}

    }

